doctype html
html
	head
		title MODUS versus
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel='stylesheet', href='../css/build.css', type='text/css' )
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		script(src="../js/build.js" type="text/javascript")
	body
		div(class="header-wrapper")
			div(class="logo") #[span MODUS] VERSUS
			div(class="nav")
				div(class="main-link")
					a(href="") HOME
				div(class="simple-link")
					a(href="") ABOUT
				div(class="simple-link")
					a(href="") SERVICES
				div(class="dropdown")
						p >
						a(href="#") PORTFOLIO
						ul(class="list")
							li
								a(href="#") > Portfolio 2 column page
							li
								a(href="#") > Portfolio 2 column page
							li
								a(href="#") > Portfolio 2 column page
				div(class="simple-link")
					a(href="") BLOG
				div(class="simple-link")
					a(href="") FEATURES
				div(class="simple-link")
					a(href="") CONTACTS
				div(class="search-img")
		div(class="header-bg")
		div(class="presentation-wrapper")
			div(class="presentation")
				div(class="arrow-1") <<
				div(class="title") VESTIBULUM
				div(class="description") Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
				div(class="arrow-2") >>
		div(class="content-1-wrapper")
			div(class="page-progress")
				div(class="page-1")
				div(class="page-2")
				div(class="page-3")
			div(class="services-wrapper")
				div(class="services")
					h2 Some of our top services
					p Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
				div(class="button-wrapper")
					div(class="button") VIEW MORE
			div(class="articles-wrapper")
				div(class="article" class="article-1")
					div(class="icons")
						i(class="fa fa-thumbs-up")
					h3 SUSPENDISSE
					p Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc.
					div(class="more") read more
				div(class="article" class="article-2")
					div(class="icons")
						i(class="fa fa-key")
					h3 MAECENAS
					p Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci. ut commodo.
					div(class="more") read more
				div(class="article" class="article-3")
					div(class="icons")
						i(class="fa fa-flag")
					h3 ALIQUAM
					p Vivamus eget ante bibendum arcu vehicula ultricies. Integervenenatis mattis nisi, vitae pulvinar dui tempor non.
					div(class="more") read more
				div(class="article" class="article-4")
					div(class="icons")
						i(class="fa fa-flask")
					h3 HABITASSE
					p Astehicula ultricies. Integervenenatis mattis nisi, vitae pulvinar dui tempor non.
					div(class="more") read more
		div(class="content-decor")
		div(class="content-2-wrapper")
			div(class="cause")
				h2 WHY MODUS VERSUS?
				P Capacitance cascading integer reflective interface data development high bus cache dithering transponder.
			div(class="images")
				div(class="img-1")
					div(class="img-container")
						h1 your image
						div(class="rounds-wrap")
							div(class="round-1")
							div(class="round-2")
							div(class="round-3")
						div(class="minus")
				div(class="img-2")
					div(class="img-container")
						h1 your image
						div(class="rounds-wrap")
							div(class="round-1")
							div(class="round-2")
							div(class="round-3")
						div(class="minus")
				div(class="img-3")
					div(class="img-container")
						h1 your image
						div(class="rounds-wrap")
							div(class="round-1")
							div(class="round-2")
							div(class="round-3")
						div(class="minus")
		div(class="statistics-wrapper")
			div(class="question")
				h3 Why Choose Us?
				ul
					li Quisque at massa ipsum
					li Maecenas a lorem augue, egestas
					li Cras vitae felis at lacus eleifend
					li Etiam auctor diam pellentesque
					li Nulla ac massa at dolor
					li Condimentum eleifend vitae vitae
			div(class="statistics")
				p Curabitur quis nisi in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus #[span vehicula mattis]. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
				div.progress-bar-wrapper
					div.progress
						div.progress-bar
							div.bar
							div.number 50
						div.title SUSPENDISSE
					div.progress
						div.progress-bar
							div.bar
							div.number 70
						div.title MAECENAS
					div.progress
						div.progress-bar
							div.bar
							div.number 80
						div.title ALIQUAM
					div.progress
						div.progress-bar
							div.bar
							div.number 100
						div.title HABITASSE
			div(class="review-wrapper")
				h3 What Client's Say?
				div(class="review")
					div(class="review-bg")
						p Curabitur quis nisi in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum
				h2 Jhon Doe
		div(class="client-wrapper")
			div(class="client") Our Happy Clients
			div(class="stripe-wrap")
				div(class="round")
				div(class="stripe")
			div(class="arrows")
				div(class="ar-1") <
				div(class="ar-2") >
		div(class="jquery-wrap")
			div(class="jquery")
				div(class="jq")
			div(class="jquery")
				div(class="jq")
			div(class="jquery")
				div(class="jq")
			div(class="jquery")
				div(class="jq")
			div(class="jquery")
				div(class="jq")
			div(class="jquery")
				div(class="jq")
		div(class="content-decor-2")
		div(class="footer-wrapper")
			div(class="footer-main")
				div(class="info")
					div(class="logo") #[span MODUS] VERSUS
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio. gravida pellentesque urna varius vitae. Sed dui lorem. adipiscing in adipiscing et. interdum nec.
					div(class="phone") Phone: #[span 182 2569 5896]
					div(class="email") e-mail: #[span info@modu.versus]
				div(class="company")
					h3 Company
					ul
						li > About
						li > FAQ
						li > Contact
						li > Terms
						li > Privacy
						li > Testimonials
				div(class="commun")
					h3 Community
					ul
						li > Blog
						li > Forum
						li > Support
						li > Newsletter
				div(class="blog")
					h3 from the #[span BLOG]
					div(class="entry-1")
						div(classs="some-img")
							img(src="../images/some-img.png")
						div(class="some-text")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit
							div(class="data") 26 May, 2013
					div(class="entry-2")
						div(classs="some-img")
							img(src="../images/some-img.png")
						div(class="some-text")
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit
							div(class="data") 26 May, 2013
		div(class="footer")
			p 2018 ModusVersus
			div(class="icons-wrapper")
				i(class="fa fa-facebook")
				i(class="fa fa-google-plus")
				i(class="fa fa-twitter")
				i(class="fa fa-rss")